/**
 * Pagination Styles
 */
@import '../../shared/styles/variables.css';

.pagination {
  margin: 10px auto;
  width: 100%;
  max-width: $page-max-width;
  text-align: center;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  overflow-y: scroll;

  &-inner {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  &-button {
    display: block;
    position: relative;
    flex-shrink: 0;
    font-size: 13px;
    padding: 10px 15px;
    border-radius: 0;
    color: $color-text-light;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $color-blue;
      transform: scaleX(0);
      transform-origin: 50% 50%;
      transition: transform 0.1s;
    }

    &:hover {
      cursor: pointer;
      color: $color-blue;
      background-color: $color-blue-opacity;
    }

    &:disabled {
      pointer-events: none;
      cursor: default;
      color: rgba(0, 0, 0, 0.2);
    }

    &.active::after {
      transform: scaleX(1);
    }
  }
}
