/**
 * EventGroup Styles
 */
@import '../../shared/styles/variables.css';

.event-group {
  &-inner {
    width: 100%;
    max-width: $page-max-width;
    position: relative;
    margin: 15px auto;
    padding: 0 10px;
  }

  &-title {
    font-size: 32px;
    line-height: 24px;
    font-weight: bold;
    display: inline-block;
    color: $color-text-default;
    text-decoration: none;
    margin: 10px;
  }

  a.event-group-person:hover,
  a.event-group-title:hover { color: $color-blue; }

  &-person {
    font-size: 12px;
    font-weight: normal;
    display: block;
    color: $color-text-light;
    text-decoration: none;
  }

  &-more {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: $color-blue;
    border-radius: 2px;
    &:hover { background-color: rgba(110, 99, 207, 0.05); }
  }
}
