/**
 * EventGroup Styles
 */
@import '../../shared/styles/variables.css';

.event-group {
  &-inner {
    width: 100%;
    max-width: $page-max-width;
    position: relative;
    margin: 0 auto;
    padding: 0 10px;
  }

  &-inner.card {
    margin: 10px auto;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    padding: 5px 10px 25px;
  }

  &-title {
    font-size: 32px;
    line-height: 24px;
    font-weight: bold;
    display: inline-block;
    color: $color-text-default;
    text-decoration: none;
    margin: 10px 0 15px;
  }

  a.event-group-person:hover,
  a.event-group-title:hover { color: $color-blue; }

  &-person {
    font-size: 12px;
    font-weight: normal;
    display: block;
    color: $color-text-light;
    text-decoration: none;
  }

  &-more {
    display: inline-block;
    text-decoration: none;
    color: $color-blue;
  }
}
