/**
 * PersonLoading
 */
@import '../../shared/styles/variables.css';

.person-loading {
  z-index: 100;
  position: absolute;
  width: 100%;
  pointer-events: none;

  &-inner {
    width: 100%;
    max-width: $page-max-width;
    margin: 0 auto;
    padding: 20px 20px 40px;
    position: relative;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    background-image:
      linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%),
      linear-gradient(132deg, #4cfde9 0%, rgba(251, 201, 84, 1) 50%, #4435f7 100%);
  }

  &-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    background-image: linear-gradient(79deg, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0) 75%);
    animation: person-loading 0.8s linear infinite;
  }

  &-avatar {
    width: $person-avatar-size;
    height: $person-avatar-size;
    border-radius: calc($person-avatar-size / 2);
    user-select: none;
    margin: 20px auto;
    background-color: $color-background-light;
  }

  &-caption {
    height: 12px;
    width: 220px;
    margin: 0 auto;
    background-color: $color-background-light;
  }

  &-name {
    height: 30px;
    width: 55%;
    margin: 10px auto;
    background-color: $color-background-light;
  }

  &-labels {
    margin: 24px auto;
    text-align: center;
  }

  &-label {
    height: 24px;
    width: 100px;
    border-radius: 12px;
    display: inline-block;
    margin: 0 5px 5px 0;
    background-color: $color-background-light;
  }

  &-paragraph {
    height: 20px;
    margin: 10px auto;
    background-color: $color-background-light;
    &.second { width: 70%; }
    &.third { width: 80%; }
  }
}

@keyframes person-loading {
  0% {
    transform: translateX(-180px);
  }

  100% {
    transform: translateX(780px);
  }
}
