/**
 * Card Styles
 */
@import '../../shared/styles/variables.css';

.section-card {
  width: 100%;
  max-width: $page-max-width;
  margin: 0 auto 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  padding: 15px;
  background-color: #fff;

  &-title {
    font-weight: bold;
    margin-bottom: 5px;
  }
}
