/**
 * Syles of AppMenu
 */
@import '../../shared/styles/variables.css';

.app-menu {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &-fade {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.21);
    cursor: pointer;
    transition: opacity 0.2s;
    animation: app-menu-fade 0.2s;
    .closing & { opacity: 0; }
  }

  &-body {
    position: fixed;
    width: 320px;
    height: 100%;
    top: 0;
    left: 0;
    padding: $navbar-height 40px;
    background-color: white;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.07);
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    animation: app-menu-body 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    .closing & { transform: translateX(-100%); }
  }

  &-close {
    position: absolute;
    width: $navbar-height;
    height: $navbar-height;
    border-radius: 0;
    display: block;
    cursor: pointer;
    top: 0;
    right: 0;
    background: url('../../shared/assets/icn-close.svg') 50% 50% no-repeat;
    &:hover { opacity: 0.7; }
  }

  &-signin-facebook {
    height: 40px;
    width: 100%;
    padding: 10px 20px 10px 50px;
    margin: 10px 0 20px;
    font-weight: bold;
    border-radius: 4px;
    text-align: left;
    color: white;
    background: #4267b2 url('../../shared/assets/icn-facebook.svg') 8px 50% no-repeat;
    cursor: pointer;
  }

  &-user {
    margin: 0 0 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &-user-avatar {
    display: block;
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin: 0 20px 0 0;
    background-color: $color-background-light;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-user-name {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-signout {
    display: block;
    text-align: left;
    color: $color-text-light;
    cursor: pointer;
    margin: 5px 0 0;
    &:hover { color: $color-text-default; }
  }

  &-link {
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    color: $color-text-light;
    &:hover { color: $color-text-default; }
  }
}

@keyframes app-menu-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes app-menu-body {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
