/**
 * Styles of Label
 */
@import '../../shared/styles/variables.css';

.label {
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 0 12px;
  font-size: 12px;
  height: 24px;
  line-height: 23px;
  border-radius: 12px;
  color: $color-text-light;
  border: 1px solid $color-border-light;

  &.small {
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    padding: 0 10px;
  }

  &.dark {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.4);
  }
}

