/**
 * Home Styles
 */
@import '../../shared/styles/variables.css';

.home {
  &-persones {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px auto;
    max-width: $page-max-width;

    .person-card {
      margin: 5px;
    }
  }

  &-footer {
    padding: 0 20px 50px;
    margin: 10px auto 50px;
    width: 100%;
    max-width: $page-max-width;
    text-align: center;
    background: url('../../shared/assets/logo-b&w.png') 50% 100% no-repeat;
    background-size: 25px 25px;

    a {
      display: inline-block;
      font-size: 11px;
      text-decoration: none;
      color: $color-text-lighter;

      &::after {
        content: '\00b7';
        margin: 0 10px;
      }

      &:last-child::after { display: none; }
      &:hover { color: $color-blue; }
      &:hover::after { color: $color-text-lighter; }
    }
  }
}
