/**
 * Home Styles
 */
@import '../../shared/styles/variables.css';

.home {
  &-persones {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px auto;
    max-width: $page-max-width;

    .person-card {
      margin: 5px;
    }
  }
}
