/**
 * Event Styles
 */
@import '../../shared/styles/variables.css';

.event {
  margin: 20px auto 40px;

  &-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &-quote {
    position: relative;
    padding: 15px 40px 20px 70px;
    margin: 5px 0 0;
    background: $color-background-light;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.07);

    &::after {
      content: 'â€';
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 80px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: rgba(0, 0, 0, 0.11);
    }
  }

  &-quote-avatar {
    position: absolute;
    left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    user-select: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-meta {
    font-size: 12px;
    color: $color-text-light;
    margin-top: 10px;

    span {
      white-space: nowrap;
    }

    a {
      color: $color-text-light;
      text-decoration: none;
      white-space: nowrap;
    }

    a:hover {
      color: $color-blue;
    }

    > * + *::before {
      content: '\00B7';
      padding-left: 8px;
      margin-right: 8px;
      color: $color-text-light;
    }
  }

  &-labels {
    display: inline;
  }
}
