/**
 * Styles of PersonDetails
 */
@import '../../shared/styles/variables.css';

.person-details {
  width: 100%;
  position: relative;
  color: $color-text-default;
  overflow: hidden;
  animation: person-details-on 0.3s;

  &-cover {
    position: absolute;
    width: 100%;
    height: 180px;
    left: 0;
    top: 0;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(30px);
    transform: scale(1.2);
    opacity: 1;
  }

  &-cover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(132deg, #4cfde9 0%, rgba(251, 201, 84, 0) 20%, rgba(251, 201, 84, 0) 60%, #4435f7 100%);
  }

  &-inner {
    width: 100%;
    max-width: $page-max-width;
    margin: 0 auto;
    padding: 20px;
    position: relative;
  }

  &-avatar {
    width: $person-avatar-size;
    height: $person-avatar-size;
    border-radius: calc($person-avatar-size / 2);
    user-select: none;
    margin: 20px auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-caption {
    color: $color-text-light;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 5px;
    text-align: center;
  }

  &-name {
    color: $color-text-default;
    font-size: 26px;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 26px;
    text-align: center;
  }

  &-about {
    line-height: 1.5;
    text-align: center;
  }

  p {
    margin: 0 0 16px;
  }
}

@keyframes person-details-on {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
