/**
 * Modal Styles
 */
@import '../../shared/styles/variables.css';

.modal {
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;

  &-bg {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    animation: modal-bg 0.2s;
  }

  &-body {
    z-index: 2;
    position: relative;
    width: calc(100% - 40px);
    max-width: calc($page-max-width - 40px);
    margin: auto;
    overflow: hidden;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    animation: modal-body 0.2s;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
      0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  }
}

@keyframes modal-bg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-body {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
