/**
 * Styles of NavBar
 */
@import '../../shared/styles/variables.css';

.navbar {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar-height;
  line-height: $navbar-height;
  user-select: none;
  cursor: default;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);

  &-inner {
    position: relative;
    height: 100%;
    max-width: $page-max-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-logo {
    width: 160px;
    height: $navbar-height;
    margin: 0 auto;
    background: url('../../shared/assets/logo.svg') 50% 50% no-repeat;
    animation: navbar-logo 0.15s;
  }

  &-btn {
    position: absolute;
    width: $navbar-height;
    height: $navbar-height;
    display: block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    &:hover { opacity: 0.7; }
    &:active { background-color: #f1f1f1; }
  }

  &-btn.back {
    left: 0;
    background-image: url('../../shared/assets/icn-back.svg');
    animation: navbar-btn-left 0.3s;
  }

  &-btn.menu {
    left: 0;
    background-image: url('../../shared/assets/icn-menu.svg');
  }

  &-btn.search {
    right: 0;
    background-image: url('../../shared/assets/icn-search.svg');
  }

  &-search {
    flex: 1;
    flex-shrink: 1;
    height: calc($navbar-height - 16px);
    position: relative;
    padding: 0 30px;
    margin: 0 10px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 3px;
    background: $color-background-light url('../../shared/assets/icn-search.svg') right 5px center no-repeat;
    animation: navbar-search 0.15s;

    &:focus {
      text-align: left;
      padding-left: 10px;
      border-color: $color-pink;
      background-color: white;
      box-shadow: 0 0 2px 0 rgba(110, 99, 207, 0.5);
    }
  }
}

@keyframes navbar-logo {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 100;
    transform: translateY(0);
  }
}

@keyframes navbar-search {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 100;
    transform: translateY(0);
  }
}

@keyframes navbar-btn-left {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 100;
    transform: translateX(0);
  }
}
