/**
 * Section Styles
 */
@import '../../shared/styles/variables.css';

.section {
  width: 100%;
  max-width: $page-max-width;
  margin: 0 auto 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  padding: 20px 20px 30px;
  background-color: #fff;

  .separator {
    margin-left: -20px;
    width: calc(100% + 40px);
  }

  h1 {
    font-size: 26px;
    font-weight: normal;
    margin: 0 0 12px;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px;
  }

  h3,
  h4 {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 15px;
  }

  p {
    font-size: 15px;
    margin: 0 0 15px;
    line-height: 1.5;
  }

  a {
    color: $color-blue;
    text-decoration: none;
  }
}
