/**
 * Syles of App Container
 */
@import '../../shared/styles/variables.css';

.app-view {
  width: 100%;
  min-height: calc(100% - 50px);
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
}
