/**
 * Syles of App Container
 */
@import '../../shared/styles/variables.css';

.app {
  width: 100%;
  height: 100%;

  &-view {
    width: 100%;
    max-width: 720px;
    height: 100%;
    margin: 0 auto;
    padding: 20px 20px 30px;
  }
}
