/**
 * Syles of App Container
 */
@import '../../shared/styles/variables.css';

.app-view {
  width: 100%;
  max-width: $page-max-width;
  min-height: calc(100% - 50px);
  position: relative;
  margin: 0 auto;
  padding: 20px 10px;
  display: flex;
  flex-flow: column wrap;
}
