/**
 * FbComments Styles
 */
@import '../../shared/styles/variables.css';

.fb-comments-container {
  width: 100%;
  max-width: $page-max-width;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  padding: 10px;
  background-color: #fff;
}
